
# submodules
unitree_rl_mjlab
/mujoco_menagerie/
/unitree_mujoco/

# Experiment artifacts
/wandb/
/MUJOCO_LOG.TXT

# Python
__pycache__
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
logs/
*.log

# Environments
.env
*.env

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
